/*---------- STYLES ----------*/



/*--------------- LOADER ---------------*/
#loader-container{
	text-align: center;
	top: 50%;
	width: 100%;
	position: absolute;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);	
}

#loader-container .loader {
	width: 20px;
	height: 20px;
	border: 3px solid black;
	display: inline-block;
    -webkit-animation: myfirst 1s; /* Chrome, Safari, Opera */
    animation: myfirst 1s;
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-iteration-count: infinite;    
}


/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    from {
        -ms-transform: rotate(0deg); /* IE 9 */
    	-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    	transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(90deg); /* IE 9 */
    	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    	transform: rotate(90deg);
    }
}
/* Standard syntax */
@keyframes myfirst {
    from {
    	transform: rotate(0deg);
    }
    to {
    	transform: rotate(90deg);
    }
}